/* RESET - Start */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*RESET - stop*/
main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: rgb(250, 250, 250);
  overflow: hidden;
}

.header {
  inline-size: 100vw;
}
.header__logo {
  margin: 48px auto 32px auto;
}
.header__hero-mobile > * {
  position: relative;
  inline-size: 110vw;
  block-size: 100%;
  margin-inline: -5vw;
  margin-block-end: 48px;
}
.header__container {
  padding-inline: clamp(2rem, -2.7709923664rem + 20.3562340967vi, 7rem);
}
.header__title {
  font-family: Red Hat Display, sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
  text-align: center;
  font-size: clamp(2.5rem, 2.0229007634rem + 2.0356234097vi, 3rem);
  color: rgb(40, 40, 61);
}
@media (min-width: 768px) {
  .header__title {
    font-size: clamp(3rem, 0rem + 6.25vi, 4rem);
  }
}
.header__description {
  font-family: Red Hat Display, sans-serif;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  font-size: clamp(1rem, 0.8807251908rem + 0.5089058524vi, 1.125rem);
  color: rgb(135, 135, 157);
  margin-block: 24px;
}

.section__number-component {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block-end: 64px;
}
.section__vertical-line {
  inline-size: 1px;
  block-size: 5rem;
  background-color: rgb(209, 209, 223);
}
.section__number {
  font-family: Red Hat Display, sans-serif;
  font-weight: 900;
  line-height: 150%;
  text-align: center;
  font-size: 1rem;
  color: rgb(135, 135, 157);
  padding: 1rem 1.1875rem;
  border: 1px solid rgb(209, 209, 223);
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
}
.section__container {
  padding-inline: clamp(2rem, -2.7709923664rem + 20.3562340967vi, 7rem);
  max-inline-size: 34.0625rem;
}
.section__images {
  max-inline-size: 70rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin-block-end: 64px;
  padding-inline: 32px;
}
.section__image {
  inline-size: 100%;
  block-size: 100%;
  border-radius: 8px;
}
.section__subtitle {
  font-family: Red Hat Display, sans-serif;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 0.6307251908rem + 0.5089058524vi, 0.875rem);
  color: rgb(77, 150, 168);
  margin-block-end: 16px;
}
@media (min-width: 768px) {
  .section__subtitle {
    font-size: clamp(0.875rem, 0.5rem + 0.78125vi, 1rem);
  }
}
.section__title {
  font-family: Red Hat Display, sans-serif;
  font-weight: 900;
  line-height: 110%;
  text-align: center;
  font-size: clamp(2rem, 1.7614503817rem + 1.0178117048vi, 2.25rem);
  color: rgb(40, 40, 61);
  margin-block-end: 32px;
}
@media (min-width: 768px) {
  .section__title {
    font-size: clamp(2.25rem, 1.5rem + 1.5625vi, 2.5rem);
  }
}
.section__description {
  font-family: Red Hat Display, sans-serif;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  font-size: clamp(1rem, 0.8807251908rem + 0.5089058524vi, 1.125rem);
  color: rgb(135, 135, 157);
}
.section__background-image {
  background-image: url("../images/image-footer-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.section__background-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(77, 150, 168, 0.9);
  z-index: 1;
}
.section__background-image > * {
  position: relative;
  z-index: 2;
}

.section:last-child .section__number-component {
  position: relative;
  margin-block-end: -2rem;
  z-index: 2;
}
.section:last-child .section__container {
  padding-block: 64px;
}
.section:last-child .section__container > * {
  color: rgb(250, 250, 250);
}
.section:last-child .section__description {
  margin-block-end: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.buttons__button {
  font-family: Red Hat Display, sans-serif;
  font-weight: 900;
  line-height: 150%;
  text-align: center;
  font-size: 1rem;
  color: rgb(250, 250, 250);
  padding-inline: 40px;
  padding-block: 16px;
  border: none;
  border-radius: 29px;
  transition: 0.3s;
}
.buttons__button--primary {
  background-color: rgb(77, 150, 168);
}
.buttons__button--primary span {
  color: rgb(143, 227, 249);
}
.buttons__button--primary:hover {
  filter: brightness(1.2);
}
.buttons__button--secondary {
  background-color: rgb(133, 95, 177);
}
.buttons__button--secondary span {
  color: rgb(217, 184, 255);
}
.buttons__button--secondary:hover {
  filter: brightness(1.2);
}

@media (min-width: 48rem) {
  .header__logo {
    margin-block: 64px;
  }
  .header__hero-mobile {
    display: none;
  }
  .header__hero-tablet-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    inline-size: 110vw;
    margin-inline: -5vw;
    gap: 5vw;
  }
  .header__picture-left {
    order: 1;
  }
  .header__picture-right {
    order: 2;
  }
  .header__container {
    order: 3;
    inline-size: 28.125rem;
    padding-inline: 0;
    margin-inline: auto;
    margin-block-start: calc(72px - 5vw);
  }
  .header__picture-left > * {
    inline-size: 52.5vw;
  }
  .header__picture-right > * {
    inline-size: 52.5vw;
  }
  .section__images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .section__container {
    padding-inline: 0;
    max-inline-size: 31.5rem;
    margin-inline: auto;
  }
  .section__background-image {
    background-image: url("../images/image-footer-tablet.jpg");
  }
  .buttons {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 64rem) {
  .header__hero-tablet-desktop {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5vw;
    inline-size: 104vw;
    margin-inline: -2vw;
  }
  .header__container {
    inline-size: 38%;
    order: 2;
    padding-inline: 0;
    align-self: center;
  }
  .header__picture-left {
    margin-block-end: 56px;
    inline-size: 30%;
  }
  .header__picture-right {
    margin-block-start: 56px;
    inline-size: 30%;
    order: 3;
  }
  .header__picture-left > * {
    inline-size: 100%;
  }
  .header__picture-right > * {
    inline-size: 100%;
  }
  .section__images {
    padding-inline: calc(2rem - clamp(0rem, -9.4815rem + 14.8148vw, 2rem));
    margin-inline: auto;
  }
  .section__container {
    max-inline-size: 34.0625rem;
  }
  .section__background-image {
    background-image: url("../images/image-footer.jpg");
  }
  .section__background-image {
    background-image: url("../images/image-footer.jpg");
  }
  .section:last-child .section__container {
    max-inline-size: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 112px;
    padding-inline: calc(2rem - clamp(0rem, -9.4815rem + 14.8148vw, 2rem));
  }
  .section:last-child .section__container > * {
    text-align: start;
    margin-block-end: 0;
  }
  .section:last-child .section__title {
    max-inline-size: 25rem;
  }
  .section:last-child .section__description {
    max-inline-size: 22.1875rem;
  }
}

/*# sourceMappingURL=styles.css.map */
